<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <title>{{ page.title }}</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/raceintospace/raceintospace">View on GitHub</a>

          <h1 id="project_title">Race Into Space</h1>

            <section id="downloads">
              <a class="download_link source_link" href="https://github.com/raceintospace/raceintospace/tarball/master">Download this project as a tar.gz file</a>
              <a style="display: none" class="download_link macosx_link" href="https://github.com/downloads/raceintospace/raceintospace/raceintospace_1.0.0.270.dmg">Download the Mac OS X package</a>
              <a style="display: none" class="download_link linux_link" href="https://github.com/downloads/raceintospace/raceintospace/raceintospace-1.0.tar.gz">Download the Linux source tarball</a>
              <a class="download_link windows_link" href="https://github.com/downloads/raceintospace/raceintospace/raceintospace-1.0.0.exe">Download the Windows installer</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
{{content}}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Maintained by <a href="https://github.com/raceintospace?tab=members">https://github.com/raceintospace</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    <script>
    $(function() {
      var p = "windows", lp = navigator.platform.toLowerCase();
      if (lp.indexOf('linux') !== -1) p = "linux";
      if (lp.indexOf('mac') !== -1) p = "macosx";
      $('.windows_link, .linux_link, .macosx_link').hide();
      $('.'+p+'_link').show();
    });
    </script>

  </body>
</html>
